future
emoji
beautifulsoup4
requests
sqlalchemy
python-telegram-bot==12.1.0
psycopg2-binary
PyLyrics
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
tswift
psutil
fontTools
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans
jikanpy
speedtest-cli
coffeehouse
typing
gtts
wikipedia
pyowm
animu-cf
uptime
psutil
py-cpuinfo
nekos.py
spamwatch
telethon